label
  font-weight: normal

.default-box
  margin: 50px 0
  background-color: #f4f5f0
  border-radius: 5px
  border: 2px solid #e8e8e7

.bo-container
  &__title-box
    &__title
      margin: 0
      & span
        border-bottom: 2px dotted #afc0cd
  &__item-box
    border-bottom: 2px solid #e8e8e7
    padding: 15px 10px 15px
    &--light
      background-color: #f9f9f9
    & p
      margin: 0
  &__update-notification
     padding: 10px
     &--success
      color: #3a4
  &__validation-error
    margin: 10px 0
    background-color: #e55
    padding: 20px
    color: white
    a
      padding-top: 4px
      display: block
      color: #ccc
.cal-container
  &__form-field
    padding-bottom: 10px
  &__item-box
    margin: 0
    &--light
      background-color: #f9f9f9
    & p
      margin: 0
  &__left-arrow
    position: absolute
    left: 370px
    color: black
  &__right-arrow
    position: absolute
    right: 370px
    color:black
  &__previous-month
    position: absolute
    left: 10px
  &__next-month
    position: absolute
    right: 10px
  &__cal-data
    text-align: center
  &__cal-data-title
    padding-top: 5px
  &__cal-header
    background-color: #ddd
    font-weight: bold
    border: 1px solid #e5e5e5
    height: 30px
    padding-top: 3px
    &--holiday
      background-color: #800
      color:white
  &__cal-editable
    color: black
    cursor: pointer
  &__cal-body
    background-color: #eee;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
  &__section-divider
    padding: 11px 0
    &--chocolate
      background-color: #c6c68d
    &--light-blue
      background-color: #cae7ef
    &--light-green
      background-color: #88ee77

//Utilities classes

.hidden-default
  display: none

.visible
  display: inherit

.top-padding
  padding-top: 15px

.top-padding-10
  padding-top: 10px

.bottom-padding
  padding-bottom: 15px


.top-margin
  margin-top: 15px

.top-margin-50
  margin-top: 50px


.left-margin
  margin-left: 15px


.relative
  position: relative


